{
    email admin@beamaxapp.co.uk
}

bea.beamaxapp.co.uk {
    handle /api/* {
        reverse_proxy beamax-api:8000
    }
    handle /ws/* {
        reverse_proxy beamax-api:8000
    }
    handle {
        reverse_proxy beamax-api:8000
    }
}

:8080 {
    handle {
        reverse_proxy beamax-api:8000
    }
}
